<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{global.baseUrl}">
    <title>{head.title} {global.appName}</title>
    <meta name="description" content="{head.description}">
    <link type="image/icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" src="public/app.js"></script>
    <link rel="stylesheet" href="public/app.css">
</head>
<body class="{body.class}">
    <div class="wrapper">
        <div class="header">
            <a href="/" class="logo"><img src="public/logo.png"/></a>
            <ul class="menu">
                <li><a>Home</a></li>
                <li class="signup"><a href="/account/create">Signup</a></li>
                <li class="login"><a href="/session/create">Login</a></li>
                <li class="edit"><a href="/session/created">Place order</a></li>
                <li class="logout"><a href="session/">Logout</a></li>
            </ul>
        </div>

        <div class="content">

        