<h1>Login</h1>
        
<div class="form-wrap">
    <form id="sessionCreate" method="POST" action="api/tokens">
        <div class="field">
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="field">
            <div></div>
            <input type="submit"/>
        </div>
        
    </form>
</div>